# directories
.DS_Store
.pnp
build
coverage
dist
node_modules
storybook-static

# files
.env
.env.*
.pnp.js
_scratch
_scratch.*
*storybook.log
npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*
